<%- include('partials/headerInside') -%>
<div class="shadow p-3 mb-5 rounded-3" style="background-color: #e9ecefc1">
  <h1>Current Coaches</h1>
</div>

<main class="container">
  <div class="row justify-content-between">
    <section class="col-6 mt-5">
      <h2 class="pb-4">Current Coaches</h2>
      <ul class="list-unstyled">
        <% for(let i=0; i< coaches.length; i++) { %>
        <li>
          <a href="/coach/<%= coaches[i]._id %>">
            <span> <%= coaches[i].coachName %></span>
          </a>
        </li>
        <% } %>
      </ul>
    </section>
  </div>
</main>

<%- include('partials/footer') -%>
