<%- include('partials/header') -%>

<main class="container">
  <div class="mt-5 text-center">
    <a href="/login" class="btn btn-secondary btn-lg w-50 my-4"> Login</a>
    <a href="/signup" class="btn btn-secondary btn-lg w-50 my-4"> Signup</a>
  </div>
</main>

<%- include('partials/footer') -%>
