<%- include('partials/headerInside') -%>
<main class="container">
  <div class="row justify-content-between">
    <section class="col-6 mt-5">
      <h2 class="pb-4">Current Students</h2>
      <ul class="list-unstyled">
        <% for(let i=0; i< students.length; i++) { %>
        <li>
          <a href="/student/<%= students[i]._id %>">
            <span> <%= students[i].studentName %></span>
          </a>
        </li>
        <% } %>
      </ul>
    </section>
    <section class="col-6 mt-5">
      <h2 class="pb-4">Add a student</h2>
      <form action="/student/addStudent" method="POST">
        <div class="mb-3">
          <label for="studentName" class="form-label">Student Name</label>
          <input
            type="text"
            class="form-control"
            id="studentName"
            name="studentName"
          />
        </div>
        <div class="mb-3">
          <label for="discipline">Discipline</label><br />
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="discipline"
              id="inlineRadio1"
              value="Muay Thai"
            />
            <label class="form-check-label" for="inlineRadio1">Muay Thai</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              name="discipline"
              id="inlineRadio2"
              value="Jiu Jitsu"
            />
            <label class="form-check-label" for="inlineRadio2">Jiu Jitsu</label>
          </div>
        </div>
        <div class="mb-3 form-group">
          <label for="studentRank">Student Rank</label>
          <select class="form-select" id="studentRank" name="studentRank">
            <option>White</option>
            <option>Yellow (MT Only)</option>
            <option>Orange (MT Only)</option>
            <option>Green (MT Only)</option>
            <option>Blue</option>
            <option>Purple</option>
            <option>Brown</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </section>
  </div>
</main>

<%- include('partials/footer') -%>
